

@media only screen and (max-width: 479px){
    div { width: 100%; }
  }
  
  
  


.headerImg{
   
    padding-top: 15px;
    padding-left: 20px;
    display: block;
    position: absolute;
}

