
@media only screen and (max-width: 479px){
  div { width: 100%; }
}


.headerImg{
   
    padding-top: 15px;
    padding-left: 20px;
    display: block;
    position: absolute;
}




.bk2
{
    height: 550px;
    position: inherit;
   width: 1440px;
    background-size: cover;
    text-align: center;
 
}
.searchBox{
    padding-top: 22.73px;
  

}
.searchTxt
{

    box-shadow: 0px 1px 3pc white;
    border-radius: 30px;
    border:0;
    width: 400px;
    height: 50px;
    background: url(/assets/img/magnifying_glass_large.png) no-repeat scroll 17px 12px; 
    padding-left:50px;
}

input,
input::-webkit-input-placeholder {
    font-size: 21px;
    font-family: cursive;
    color:white;
    opacity: 80%;

}

.btn
{
    border: 0;
    cursor: pointer;
    height: revert;
    width: 64.8px;
    font-size: 21px;
    color: #fff;
    font-family: monospace;
    background: RGB(255, 97, 97);
    border-radius: 30px;
    margin-left: -70px;
    margin-bottom: 8px;
}

.textContentH1{
    padding-top: 188px;
    font-size: 50px;
    font-family: system-ui;
    color: white;
    list-style-type: cambodian;
    font-weight: 900;
    margin: 0px;



}
.textContentH5{
    padding-top: 7px;
    font-size: 29px;
    font-family: -webkit-pictograph;
    color: white;
    opacity: 80%;
    list-style-type: cambodian;
    margin: 0px;
    font-weight: 900;

}
.title
{

    font-size: 32px;
    font-weight: 900;
    font-family: cursive;
    padding-top: 48px;
    padding-left: 160px;
 

}
.description
{

    padding-left: 160px;
    padding-right: 162px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: monospace;

}

.blog{

padding-left: 161px;}

.blogPic
{

  height: 250px;
   width:359px ;
    border-radius: 10px;
     border:2px
}

.destinationCity
{


  padding-top: 67px;
          font-size: 32px;
          font-family: system-ui;
           color: #FF7B99;
           text-align: center;
           font-weight: 900;
}


.lucky
{
  padding-top: 9px;
   text-align: center;
    font-size: 24px;
     font-family: monospace;
     color: white;
      margin: 0px; 
  font-weight: 400;
}
.boxes
{
    width: 359px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid #a3a9c5;
    margin-top: 9px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #A3A9C5;
    display: inline-block;
}
#breathing-button {
    width: 109.27px;
    margin: 50px auto;
    -webkit-animation: breathing 70s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
